$black: #333;
$white: #fff;
$blue: #3a8ccf;
$gray: #ccc;

$mainblack: #333333;
$secondblack: #B0B2B8;
$title: #43545F;
$greencard:#86BC8A;
$bluenumber: #9AB3C9;

$redexpense:#D6364D;
$greenincome: #13ae4e;