*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #100e24;
  color: rgb(95, 95, 95);
}

.class-nav {
  display: flex;
  padding: 40px 0px;
  
}
.class-ul {
  padding: 0px 10px;
  font-size: 20px;
}
a {
  color: rgb(255, 255, 255);
}
a:hover{
  color: rgb(79, 190, 255);
}
.slick-dots li.slick-active button:before {
 
  color: #3e6681!important;
}
.slick-dots li.slick-active :hover{
 
  color: #3e6681!important;
}

.slick-next{
  display: none!important;
}
.slick-prev {
  display: none!important;
}

.container-table {
  padding: 20px;
  /* display: flex; */
}

.container-table p::after {
  content: " | ";
}

.cell {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 162, 255);
  margin: 3px 2px;
  border-radius:3px;
}

.table-walk{
  display: flex;
}

.testcell{
  border: 2px solid #ffffff;
}

.endactive{
  background-color: rgb(255, 47, 47);
}

.active{
  background-color: rgb(77, 255, 0);
}

.passactive{
  background-color: rgb(139, 125, 125);
}
.pass{
  background-color: rgb(139, 125, 125);
}

.active.endactive{
  background: rgb(255, 47, 47);
  background: linear-gradient(313deg, rgb(255, 47, 47) 50%, rgb(77, 255, 0) 50%);
}
.endactive.passactive{
  background-color: rgb(255, 47, 47);
}
.active.passactive{
  background-color: rgb(77, 255, 0);
}

.robot-text{
  color:#ffffff;
}
.btn-submit{
  background-color: rgb(0, 162, 255);
  padding: 2px 10px;
  border-radius: 8px;
  margin-left:6px;
}
.class-input{
  margin-left: 5px;
}